<div class="field">
  <label>Multiple Choice:
    <%= ff.text_area :text, class: 'multiple' %>
  </label>
</div>
<%= ff.fields_for :options do |fff| %>
  <div class="field">
    <label>option:
      <%= fff.text_field :name, class: 'multiple-option' %>
    </label>
  </div>
<%end%>
