<div class="long"><br>
<h2>Long answer:</h2>

  <div class="field"><br>
    <%= ff.label :text %><br>
    <%= ff.text_area :text %>
  </div>

  <div class="actions">
    <%= ff.submit class: "btn" %>
  </div>
