.page-header {
  padding: 1em;
  background: url('reson.jpg') $darkblue;
  background-size: cover;
  background-position: 0% 58%;

  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}

body {
  padding: 0 0 4em 0;
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .25em;
}

.page-nav {
  text-align: right;
  height: 2em;
  text-transform: uppercase;
  background-color: #fff;
  padding: 0 1em;
  a {
    padding-left: .5em;
  }
}

.page-content {
  padding: 2em;
  max-width: 45em;
  margin: 0 auto;
}
