// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log-in {
  max-width: 25em;
  margin: 0 auto;
  padding: 1em;
  // color: $paper;
}


.form-control {
  display: block;
  padding: .5em;
  margin-bottom: 1em;
  width: 100%;
}

.btn-primary {
  padding: .5em;
  font-weight: 400;
  border: none;
  margin-left: 90%;
}
